<div class="main">
    <div class="row">
        <label for="">Registration number:
            <span class="alert">{{alert}}</span>
        </label>
        <form action="/add" method="post">
            <input type="text" name="regNumber" class="regNumber">
            <button class="add-btn">
                <i class="fa fa-plus"></i>
            </button>
        </form>
    </div>

    <div class="row">
        <label for="">Town:</label>
        <select onchange="filterBy()" class="town-select" name="town_select">
            <option value="all">All Towns</option>
            {{#each filterTowns}}
            <option value="{{ town_tag }}" {{ active }}>{{ town_name }}</option>
            {{/each}}
        </select>
        <button onclick="toggleAddTown()" class="add-btn add-town">
            <i class="fa fa-plus"></i>
        </button>
        <div class="new-town">
            {{!-- FORM: Add new town --}}
            <form action="/towns/new" method="post">
                <label for="">Add new town:</label>
                <input type="text" name="townName" placeholder="Town name, e.g. Pretoria" required>
                <input type="text" name="townTag" max="3" placeholder="Town tag" required>
                <button type="submit">add</button>
            </form>
        </div>
    </div>

    <div class="row">
        <button type="button" class="clear-btn">
            <i class="fas fa-trash-alt"></i>
        </button>
        <ul class="display-area">
            <!-- Registration numbers get listed down here -->
            {{#each regList}}
            <li class="reg-plate">
                {{ this.reg_number }}
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<!-- scripts -->
<script type="text/javascript">
    function filterBy() {
        let tag = document.querySelector('.town-select').value;
        location.href = '/filter/' + tag;
    }

    function toggleAddTown() {
        let inputBox = document.querySelector('.new-town');
        inputBox.classList.toggle('show');
        console.log('click');
    }
</script>